# Logs
logs
*.log

.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
.idea/*
.idea
test_data/*
test_data
!.vscode/extensions.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
